
@model IEnumerable<FeedbackApp.Areas.Admin.Models.CourseAdminModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Active Courses</h1>
<div class="main-title">
    <button type="button" onclick="location.href='@Url.Action("Create", "Admin")'">Add Course</button>
</div>
@foreach (var course in Model)
{
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@course.ImageUrl" alt="" />
        <div class="caption">
            <h3 class="center-block">
                <p>@course.Title</p>
            </h3>
            <h4>
                <a>@course.Teacher.FirstName @course.Teacher.LastName </a>
            </h4>
            <p>@course.Price.ToString("c")</p>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@course.CourseId">Edit</a> |
            <a asp-area="Admin" asp-controller="Admin" asp-action="CourseDetails" asp-route-id="@course.CourseId">Details</a> |
            <a asp-action="Delete" asp-route-id="@course.CourseId">Delete</a>
        </div>
    </div>
</div>
}
